* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Don't forget to credit Annie Spratt*/
:root {
    --background-image: url(images/annie-spratt-vqdPQJgfMfc-unsplash.jpg);
    --img-height: 100vh;
    --img-width: 35vw;
    --bottom-margin-top: 30px;
    --main-color: white;
    --main-top-padding: 15vh;
    --main-bottom-padding: 7vh;
    --main-left-padding: 50px;
    --main-right-padding: calc(100vh/6);
    --main-font-family: Arial, Helvetica, sans-serif;
    --main-text-size: 24px;
    --input-margin-top: 20px;
    --input-height: 30px;
    --input-width: 15rem;
    --input-border-col: #E5E7EB;
}

body {
    background-color: var(--main-color);
    display: flex;
}

img {
    height: var(--img-height);
    width: var(--img-width);
}

input {
    margin-top: var(--input-margin-top);
    height: var(--input-height);
    width: var(--input-width);
    padding-left: 5px;
    border-color: var(--input-border-col);
    border-style: solid;
    border-radius: 5px;
}

label {
    position: absolute;
    font-size: 13px;
    letter-spacing: 1px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 80px;
    height: min(25vh, 100%);
}

.form-holder {
    padding-top: var(--main-top-padding);
    padding-bottom: var(--main-bottom-padding);
    font-family: var(--main-font-family);
    
}

.form-modal {
    position: relative;
    padding: 20px 0;
    padding-left: var(--main-left-padding); 
    padding-right: var(--main-right-padding);
    background-color: white;
    box-shadow: 5px 5px 5px rgb(200, 198, 198);
}

.bottom-activities {
    padding-top: var(--bottom-margin-top);
    padding-left: var(--main-left-padding); 
    padding-right: var(--main-right-padding);
}

.top-text {
    padding-bottom: var( --main-bottom-padding);
    padding-left: var(--main-left-padding); 
    padding-right: var(--main-right-padding);
}

.image-holder {
    background-image: var(--background-image);
}

.emphasized {
    font-weight: 500;
    font-size: var(--main-text-size)
}